---
name: "Create cluster using KinD"
permissions: {}
on:
  workflow_dispatch: {}
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: "Build:checkout"
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
      - name: "Build:buildx"
        uses: docker/setup-buildx-action@7c525be6cc8a882d5163ce04293cac18617c709f
        with:
          cache-binary: false
          version: v0.31.1 # Buildx version
      - name: "Build:login"
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build:dockerimage"
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          context: .
          file: Dockerfile.controller
          push: true
          build-args: |
            GO_BUILDER_IMG=golang:1.25
          tags: |
            ghcr.io/grafana/k6-operator:${{ github.sha }}

  kind-kustomize:
    needs: ["docker"]
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false

      - name: "Setup kustomize"
        # this is v2.1.0
        uses: imranismail/setup-kustomize@2ba527d4d055ab63514ba50a99456fc35684947f

      - name: "Kustomize Build"
        run: |
          cd config/default && kustomize build . > ../../rendered.yaml

      - name: Create kind cluster
        uses: helm/kind-action@ef37e7f390d99f746eb8b610417061a60e82a6cc
        with:
          node_image: "kindest/node:v1.27.1"

      - name: Test
        run: |
          kubectl cluster-info
          kubectl cluster-info dump | grep 'nodeInfo' -A 11
          kubectl apply -f rendered.yaml
          kubectl -n k6-operator-system set image deployment/k6-operator-controller-manager manager=ghcr.io/grafana/k6-operator:${{ github.sha }}
          kubectl -n k6-operator-system describe deployment k6-operator-controller-manager
          kubectl create configmap crocodile-stress-test --from-file e2e/test.js
          kubectl apply -f e2e/test.yaml
          sleep 30
          kubectl get namespaces
          kubectl get jobs -A
          kubectl wait --for=condition=complete --timeout=180s job/k6-sample-initializer
          kubectl delete configmap crocodile-stress-test
          kubectl delete -f e2e/test.yaml

  kind-helm:
    needs: ["docker"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Helm
        # this is v4.3.0
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112
        with:
          version: v3.7.2

      - name: Create kind cluster
        uses: helm/kind-action@ef37e7f390d99f746eb8b610417061a60e82a6cc
        with:
          node_image: "kindest/node:v1.27.1"

      - name: Testing
        run: |
          helm install k6-operator ./charts/k6-operator/ -f ./charts/k6-operator/values.yaml --set manager.image.tag=${{github.sha}}
          kubectl cluster-info dump | grep 'nodeInfo' -A 11
          kubectl -n k6-operator-system describe deployment k6-operator-controller-manager
          kubectl create configmap crocodile-stress-test --from-file e2e/test.js
          kubectl apply -f e2e/test.yaml
          sleep 30
          kubectl get namespaces
          kubectl get jobs -A
          kubectl wait --for=condition=complete --timeout=180s job/k6-sample-1
          kubectl delete configmap crocodile-stress-test
          kubectl delete -f e2e/test.yaml
