---
name: "Golang Lint"
permissions: {}
on:
  - push
  - pull_request

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
          cache: false
      - name: lint
        # v8.0.0
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9
        with:
          version: v2.4.0
          args: --timeout=5m
