---
name: "Golang Lint"
on:
  - push
  - pull_request

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: false
      - name: lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.61
          args: --timeout=5m
