---
name: "Golang Lint"
permissions: {}
on:
  - push
  - pull_request

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
          cache: false
      - name: Build custom golangci-lint
        run: make golangci-lint
      - name: Run lint
        run: make lint
