
name: Helm release

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - 'charts/Chart.yaml'

jobs:
  call-update-helm-repo:
    permissions:
      contents: write
    uses: grafana/helm-charts/.github/workflows/update-helm-repo.yaml@main
    with:
      charts_dir: charts
      cr_configfile: charts/cr.yaml
      ct_configfile: charts/ct.yaml
      helm_tag_prefix: helm
    secrets:
      helm_repo_token: ${{ secrets.K6_OPERATOR_HELM_RELEASE_KEY }}
