
name: Helm release
permissions: {}

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - 'charts/k6-operator/Chart.yaml'

jobs:
  generate-chart-schema:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          persist-credentials: true # this job is opening a PR in the next steps

      - name: Make changes to the file
        run: |
          make helm-schema

      - name: Git diff
        id: git-diff
        continue-on-error: true
        run: |
          if git diff --exit-code; then
            echo "changes=false" >> $GITHUB_OUTPUT
          else
            echo "changes=true" >> $GITHUB_OUTPUT
          fi

      - name: "Commit changes and make PR"
        if: steps.git-diff.outputs.changes == 'true'
        run: |
          git checkout -b helm/schema-update
          git add charts/k6-operator/values.schema.json
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git commit -m "auto: generate schema json"
          git push -u origin helm/schema-update
          gh pr create --title "Helm schema update" -B main -H helm/schema-update --body "Auto-generated by Github Workflow"

          # We're failing here, so that maintainer can review the PR and merge it. Then Helm release should be re-run.
          echo "Review the PR with schema update and re-run Helm release."
          exit 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  call-update-helm-repo:
    permissions:
      packages: write
      id-token: write
      contents: write
    needs:
      - generate-chart-schema
    uses: grafana/helm-charts/.github/workflows/update-helm-repo.yaml@main
    with:
      charts_dir: charts
      cr_configfile: charts/cr.yaml
      ct_configfile: charts/ct.yaml
      helm_tag_prefix: helm
    secrets:
      vault_repo_secret_name: github-app