---
name: Helm Lint
permissions: {}
on:
  # `ct lint` does not work well with tag references on releases.
  # OTOH, Helm linting on tags is not necessary so long as it
  # happens on push to branches.
  push:
    branches:
      - "**"
    paths:
      - "charts/**"
  pull_request:
    branches-ignore:
      - "release-**/bundle-update"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Helm
        # this is v4.3.0
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112
        with:
          version: v3.7.2

      - uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2
        with:
          python-version: 3.13.1

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f

      - name: Run chart-testing (lint)
        run: |
          ct lint --config ./charts/ct.yaml
