
name: Helm release

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - 'charts/k6-operator/Chart.yaml'

jobs:
  call-update-helm-repo:
    permissions:
      contents: write
    uses: grafana/helm-charts/.github/workflows/update-helm-repo.yaml@ci/fix-for-github-apps-jwt
    with:
      charts_dir: charts
      cr_configfile: charts/cr.yaml
      ct_configfile: charts/ct.yaml
      helm_tag_prefix: helm
    secrets:
      github_app_id: ${{ secrets.K6_OPERATOR_HELM_RELEASE_APP_ID }}
      github_app_pem: ${{ secrets.K6_OPERATOR_HELM_RELEASE_PEM_KEY }}
