---
name: "Unit Test"
permissions: {}
on:
  - push
  - pull_request
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        k8s_version: [1.27.1, 1.30.0, 1.34]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
      - name: Test
        run: |
          make test
        env:
          ENVTEST_K8S_VERSION: ${{ matrix.k8s_version }}
