---
name: "Unit Test"
permissions: {}
on:
  - push
  - pull_request
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        k8s_version: [1.27.1, 1.30.0, 1.34]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Test
        run: |
          make test
        env:
          ENVTEST_K8S_VERSION: ${{ matrix.k8s_version }}
