---
name: Yaml Lint
permissions: {}
on:
  - push
  - pull_request

jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: yaml-lint
        # this is v3.1.1
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c
        with:
          file_or_dir: config/**/*.yaml e2e/*.yaml
          config_file: .yamllint.yaml
