---
name: Yaml Lint
permissions: {}
on:
  - push
  - pull_request

jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: yaml-lint
        # this is v3.1.1
        uses: ibiqlik/action-yamllint@b74a2626a991d676b6ec243a6458ff86cccf2d2d
        with:
          file_or_dir: config/**/*.yaml e2e/*.yaml
          config_file: .yamllint.yaml
